Importing relevant libraries

In [79]:
import pandas as pd
from datetime import datetime
import pyeto
import numpy as np
import ast       
import math
import xlrd
from ast import literal_eval  
from pandas import DataFrame
from scipy.interpolate import interp1d
import dateutil     #dateutil module provides powerful extensions to the standard datetime module
from dateutil import parser  #This module offers reads the given date in string and convert it to date format or timestamps,it represent a date and/or time from most known formats 
import os
from tkinter import filedialog, messagebox
import matplotlib.pyplot as plt
import folium
import branca.colormap as cm
import json
from IPython.display import display, Markdown, HTML

# note that pyeto is available here https://github.com/woodcrafty/PyETo.git
from pyeto import fao

%matplotlib inline

math.exp = np.exp
math.pow = np.power
math.sqrt = np.sqrt

# Choosing the scenario to be analysed

Two scenarios have been used for the analysis:

- Average-case scenario wwhich uses the average monthly precipitation and temperature data for the last 10 years

- Worst-case scenario which picks the months with the lowest rainfall and highest temperatures for the last 10 years

The input files for the average scenario and worst-case (drought) scenario are provided

A future scenario input file can be generated accordingly by using projections for precipitation and temperature

Select the scenario to be analysed below as follows:
- 0 for average scenario
- 1 for worse-case scenario
- 2 for future-case scenario

In [80]:
#select scenario for analysis
#0 for average scenario
#1 for worst case scenario
s = 1

Reading in the input files

In [81]:
if s == 1:
    df = pd.read_csv('worst_case_input.csv')
elif s == 0:
    df = pd.read_csv('average_case_input.csv')
else:
    print('Please enter a valid scenario!')

df.head(5)

,ADM0_EN,COUNTY,Area,Main ID,lon,lat,area,elevation,wind_10m,srad_1,...,pvout_7,pvout_8,pvout_9,pvout_10,pvout_11,pvout_12,sw_suit,c_shallow.1,c_deep.1,protected
0,Kenya,Wajir,99,1,40.942462,2.016948,9900,246.495982,3.105536,24412.03003,...,94.801152,111.015729,126.503899,118.193017,117.762203,145.751229,1,0.845,0.76,1
1,Kenya,Wajir,99,2,40.942562,2.114010,9900,266.571416,3.130761,24479.77660,...,94.804831,111.183339,126.818136,117.651042,118.024068,145.782492,1,0.845,0.76,1
2,Kenya,Mandera,99,3,40.942632,2.211072,9900,286.917205,3.160159,24562.24128,...,94.384946,111.213198,127.072433,117.729901,119.339730,146.743946,1,0.845,0.76,1
3,Kenya,Mandera,99,4,40.942720,2.308133,9900,320.437701,3.179663,24648.61526,...,93.786559,110.829992,127.168474,117.356280,120.009152,148.191296,1,0.845,0.76,1
4,Kenya,Wajir,99,5,40.942665,1.628699,9900,175.781640,3.120238,24153.04621,...,98.043398,113.597169,128.413275,121.520823,120.468584,146.196274,1,0.845,0.76,1

# Determining the reference evapotranspiration (ETo)

The function for estimating the parameters for calculating reference evapotranspiration requires the following inputs:
- Latitude
- Longitude
- Elevation
- Monthly Wind speed at 2m
- Monthly Solar irradiation
- Monthly minimum temperature
- Monthly maximum temperature
- Maximum monthly temperature

These inputs are used for estimating the parameters for the Penman-Monteith equation for evapotranspiration which are:
- Net radiation at the crop surface
- Air temperature at 2m
- Wind speed at 2m
- Saturation vapour pressure
- Actual vapour pressure
- Saturation vapour pressure deficit
- Slope vapour pressure curve
- Psychrometric constant

In [82]:
#Defining function for estimating parameters required to calculate monthly reference evapotranspiration
def evap_i(lat,elev,wind,srad,tmin,tmax,tavg,month):
    if month ==1:
        J = 15
    else:
        J = 15 + (month-1)*30
        
    latitude = pyeto.deg2rad(lat) #converting latitude values from degrees to radians
    atmosphericVapourPressure = pyeto.avp_from_tmin(tmin) #obtaining atmospheric vapour pressure from t_min
    saturationVapourPressure = pyeto.svp_from_t(tavg) #obtaining saturation vapour pressure from t_avg
    ird = pyeto.inv_rel_dist_earth_sun(J) #obtaining irradiance based on distance from sun?
    solarDeclination = pyeto.sol_dec(J) #solar declination for various months?
    sha = [pyeto.sunset_hour_angle(l, solarDeclination) for l in latitude]
    extraterrestrialRad = [pyeto.et_rad(x, solarDeclination,y,ird) for x, y in zip(latitude,sha)] #extraterrestial radiation
    clearSkyRad = pyeto.cs_rad(elev,extraterrestrialRad) #clear sky radiation
    netInSolRadnet = pyeto.net_in_sol_rad(srad*0.001, albedo=0.23) #net shortwave irradiation
    netOutSolRadnet = pyeto.net_out_lw_rad(tmin, tmax, srad*0.001, clearSkyRad, atmosphericVapourPressure) #net longwave radiation
    netRadiation = pyeto.net_rad(netInSolRadnet,netOutSolRadnet) #net radiation
    tempKelvin = pyeto.celsius2kelvin(tavg) #converting average temperature to Kelvin
    windSpeed2m = wind #wind speed
    slopeSvp = pyeto.delta_svp(tavg) #calculating slope vapour pressure
    atmPressure = pyeto.atm_pressure(elev) #calculating atmospheric pressure from elevation value
    psyConstant = pyeto.psy_const(atmPressure) #calculating psychrometric constant from atmospheric pressure
    
    #the function to use FAO Penman-Monteith equation and return the value of reference evapotranspiration
    return pyeto.fao56_penman_monteith(netRadiation, tempKelvin, windSpeed2m, saturationVapourPressure, 
                                       atmosphericVapourPressure, slopeSvp, psyConstant, shf=0.0)


#initiating the value of reference evapotranspiration
for i in range(1,13):
    df['ETo_{}'.format(i)]=0  #To make sure that it is reset to zero

#calling the function to calculate ETo for each row for each month 
for i in range(1,13):
    df['ETo_{}'.format(i)] = evap_i(df['lat'],df['elevation'],df['wind_{}'.format(i)],df['srad_{}'.format(i)], 
                                    df['tmin_{}'.format(i)],df['tmax_{}'.format(i)],df['tavg_{}'.format(i)],i)

In [83]:
df.head(5)

,ADM0_EN,COUNTY,Area,Main ID,lon,lat,area,elevation,wind_10m,srad_1,...,ETo_3,ETo_4,ETo_5,ETo_6,ETo_7,ETo_8,ETo_9,ETo_10,ETo_11,ETo_12
0,Kenya,Wajir,99,1,40.942462,2.016948,9900,246.495982,3.105536,24412.03003,...,6.564656,5.336586,4.916236,4.445964,4.102627,4.798710,5.551987,4.961686,5.001120,5.351347
1,Kenya,Wajir,99,2,40.942562,2.114010,9900,266.571416,3.130761,24479.77660,...,6.621670,5.355271,4.954861,4.469616,4.165352,4.813763,5.611894,4.963950,5.021371,5.368339
2,Kenya,Mandera,99,3,40.942632,2.211072,9900,286.917205,3.160159,24562.24128,...,6.668654,5.351512,4.959659,4.471611,4.178235,4.810148,5.639671,4.986896,5.054901,5.392731
3,Kenya,Mandera,99,4,40.942720,2.308133,9900,320.437701,3.179663,24648.61526,...,6.658754,5.352675,4.952948,4.497322,4.211073,4.811346,5.662735,4.978554,5.045285,5.359040
4,Kenya,Wajir,99,5,40.942665,1.628699,9900,175.781640,3.120238,24153.04621,...,6.713909,5.473850,5.056452,4.619317,4.271817,4.912015,5.668190,5.172443,5.136433,5.502177

# Estimating monthly crop evapotranspiration (ETc)

Depending on the crop coefficient at different stages of its growth and the growth calendar, a crop coefficient is assigned to each month from January to december

Crop evapotranspiration is calculated as a product of reference evapotranspiration and crop coefficient.

In [84]:
# Estimate monthly crop evaropotransoration ETc
for i in range(1,13):
    df['ETc_{}'.format(i)] = df['ETo_{}'.format(i)] * df['kc_{}'.format(i)]

df.head(5)

,ADM0_EN,COUNTY,Area,Main ID,lon,lat,area,elevation,wind_10m,srad_1,...,ETc_3,ETc_4,ETc_5,ETc_6,ETc_7,ETc_8,ETc_9,ETc_10,ETc_11,ETc_12
0,Kenya,Wajir,99,1,40.942462,2.016948,9900,246.495982,3.105536,24412.03003,...,2.625862,5.870244,5.899483,5.335157,3.692364,0.0,2.220795,5.457854,6.001343,6.421616
1,Kenya,Wajir,99,2,40.942562,2.114010,9900,266.571416,3.130761,24479.77660,...,2.648668,5.890798,5.945833,5.363539,3.748817,0.0,2.244758,5.460345,6.025645,6.442007
2,Kenya,Mandera,99,3,40.942632,2.211072,9900,286.917205,3.160159,24562.24128,...,2.667462,5.886663,5.951591,5.365933,3.760412,0.0,2.255869,5.485586,6.065881,6.471277
3,Kenya,Mandera,99,4,40.942720,2.308133,9900,320.437701,3.179663,24648.61526,...,2.663502,5.887942,5.943537,5.396786,3.789966,0.0,2.265094,5.476409,6.054342,6.430849
4,Kenya,Wajir,99,5,40.942665,1.628699,9900,175.781640,3.120238,24153.04621,...,2.685564,6.021235,6.067742,5.543180,3.844636,0.0,2.267276,5.689688,6.163719,6.602612

# Determining the effective rainfall

Effective rainfall is obtained by multiplying the monthly rainfall with a multiplication factor which is determined based on climatic conditions, soil water holding capacity, crop rooting depth and whether the crop is grown on dryland or wetland.

In [85]:
#calculating the effective rainfall
#the rainfall received is multiplied with relevant factor
#for this case maize is considered a shallow rooted crop

#Initiate
for i in range(1,13):
    df['eff_{}'.format(i)]=0


#the effective rainfall kept with bounds of 0.0001 to ETc value to avoid negative numbers when the two are
#subtracted
for i in range(1,13):
    df['eff_{}'.format(i)] = df['c_shallow'] * df['prec_{}'.format(i)]
    df.loc[df['eff_{}'.format(i)] < 0, 'eff_{}'.format(i)] = 0.0001
    df.loc[(df['eff_{}'.format(i)] >= df['prec_{}'.format(i)]), 'eff_{}'.format(i)] = df['prec_{}'.format(i)]
    df.loc[(df['eff_{}'.format(i)] >= df['ETc_{}'.format(i)]), 'eff_{}'.format(i)] = df['ETc_{}'.format(i)]
    
df.head(5)

,ADM0_EN,COUNTY,Area,Main ID,lon,lat,area,elevation,wind_10m,srad_1,...,eff_3,eff_4,eff_5,eff_6,eff_7,eff_8,eff_9,eff_10,eff_11,eff_12
0,Kenya,Wajir,99,1,40.942462,2.016948,9900,246.495982,3.105536,24412.03003,...,2.625862,5.870244,5.899483,5.335157,3.692364,0.0,2.220795,5.457854,6.001343,6.421616
1,Kenya,Wajir,99,2,40.942562,2.114010,9900,266.571416,3.130761,24479.77660,...,2.648668,5.890798,5.945833,5.363539,3.748817,0.0,2.244758,5.460345,6.025645,6.442007
2,Kenya,Mandera,99,3,40.942632,2.211072,9900,286.917205,3.160159,24562.24128,...,2.667462,5.886663,5.951591,5.365933,3.760412,0.0,2.255869,5.485586,6.065881,6.471277
3,Kenya,Mandera,99,4,40.942720,2.308133,9900,320.437701,3.179663,24648.61526,...,2.663502,5.887942,5.943537,5.396786,3.789966,0.0,2.265094,5.476409,6.054342,6.430849
4,Kenya,Wajir,99,5,40.942665,1.628699,9900,175.781640,3.120238,24153.04621,...,2.685564,6.021235,6.067742,5.543180,3.844636,0.0,2.267276,5.689688,6.163719,6.602612

# Calculating Net Irrigation water requirements

The net irrigation water requirement is calculated by subtraction the effective rainfall from the crop evapotranspiration which is taken to be equivalent to crop water needs.

In [86]:
#Net Irrigation requirements (IRn) (mm/month)
#monthly ETc - monthly effective rainfall
for i in range (1,13):
    df['IRn_{}'.format(i)]= df['ETc_{}'.format(i)]*30 - df['eff_{}'.format(i)]*30

df.head(5)

,ADM0_EN,COUNTY,Area,Main ID,lon,lat,area,elevation,wind_10m,srad_1,...,IRn_3,IRn_4,IRn_5,IRn_6,IRn_7,IRn_8,IRn_9,IRn_10,IRn_11,IRn_12
0,Kenya,Wajir,99,1,40.942462,2.016948,9900,246.495982,3.105536,24412.03003,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Kenya,Wajir,99,2,40.942562,2.114010,9900,266.571416,3.130761,24479.77660,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Kenya,Mandera,99,3,40.942632,2.211072,9900,286.917205,3.160159,24562.24128,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Kenya,Mandera,99,4,40.942720,2.308133,9900,320.437701,3.179663,24648.61526,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Kenya,Wajir,99,5,40.942665,1.628699,9900,175.781640,3.120238,24153.04621,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In the code below the irrigation water demand is converted mm/month to litres/ha/day

In [87]:
#Peak Crop Water Requirements (PCWR)

# Converting IRn into (m3/ha per month) 
for i in range (1,13):
    df['IRn_{}'.format(i)] *= 10    #0.001*10000 --- 1 hectare*1mm
    df['Monthly_IRn_{}'.format(i)] = df['IRn_{}'.format(i)]
    
# Converting IRn into (m3/ha per day)
for i in range (1,13):
    df['IRnd_{}'.format(i)] = df['IRn_{}'.format(i)] / 30
    
# Peak crop water requirement (PCWR) taken to be equal to net irrigation requirement
for i in range (1,13):
    df['PCWR_{}'.format(i)] = df['IRnd_{}'.format(i)] 
    
# Converting PCWR into  l/s/ha "Duty" - litre/second/hectare
for i in range (1,13):
    df['PCWR_{}'.format(i)] *= 0.012 #1000/86400 (seconds in a day)
    

df.head(5)

,ADM0_EN,COUNTY,Area,Main ID,lon,lat,area,elevation,wind_10m,srad_1,...,PCWR_3,PCWR_4,PCWR_5,PCWR_6,PCWR_7,PCWR_8,PCWR_9,PCWR_10,PCWR_11,PCWR_12
0,Kenya,Wajir,99,1,40.942462,2.016948,9900,246.495982,3.105536,24412.03003,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Kenya,Wajir,99,2,40.942562,2.114010,9900,266.571416,3.130761,24479.77660,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Kenya,Mandera,99,3,40.942632,2.211072,9900,286.917205,3.160159,24562.24128,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Kenya,Mandera,99,4,40.942720,2.308133,9900,320.437701,3.179663,24648.61526,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Kenya,Wajir,99,5,40.942665,1.628699,9900,175.781640,3.120238,24153.04621,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

The code below determine the maximum daily irrigation water demand in litres/ha/day
This is given by the month with the maximum demand

In [88]:
#max pcwr
df['pcwr_max']=df.filter(like='PCWR_').max(axis=1) 
df['pwcr_per_day'] = df['pcwr_max']*60*60*24 #pwcr in litres/day/hectare

df.head(5)

,ADM0_EN,COUNTY,Area,Main ID,lon,lat,area,elevation,wind_10m,srad_1,...,PCWR_5,PCWR_6,PCWR_7,PCWR_8,PCWR_9,PCWR_10,PCWR_11,PCWR_12,pcwr_max,pwcr_per_day
0,Kenya,Wajir,99,1,40.942462,2.016948,9900,246.495982,3.105536,24412.03003,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.029398,2539.999597
1,Kenya,Wajir,99,2,40.942562,2.114010,9900,266.571416,3.130761,24479.77660,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.037661,3253.919961
2,Kenya,Mandera,99,3,40.942632,2.211072,9900,286.917205,3.160159,24562.24128,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.129701,11206.153349
3,Kenya,Mandera,99,4,40.942720,2.308133,9900,320.437701,3.179663,24648.61526,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.163606,14135.515854
4,Kenya,Wajir,99,5,40.942665,1.628699,9900,175.781640,3.120238,24153.04621,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000

This code determines the month with the maximum irrigation water demand

In [89]:
#which month has the max pcwr?
x = {}
x['Max_PCWR']=df.filter(like='PCWR_').idxmax(axis=1)

df['pcwr_month'] = x['Max_PCWR'].str[5:]

df.head(5)

,ADM0_EN,COUNTY,Area,Main ID,lon,lat,area,elevation,wind_10m,srad_1,...,PCWR_6,PCWR_7,PCWR_8,PCWR_9,PCWR_10,PCWR_11,PCWR_12,pcwr_max,pwcr_per_day,pcwr_month
0,Kenya,Wajir,99,1,40.942462,2.016948,9900,246.495982,3.105536,24412.03003,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.029398,2539.999597,1
1,Kenya,Wajir,99,2,40.942562,2.114010,9900,266.571416,3.130761,24479.77660,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.037661,3253.919961,1
2,Kenya,Mandera,99,3,40.942632,2.211072,9900,286.917205,3.160159,24562.24128,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.129701,11206.153349,1
3,Kenya,Mandera,99,4,40.942720,2.308133,9900,320.437701,3.179663,24648.61526,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.163606,14135.515854,1
4,Kenya,Wajir,99,5,40.942665,1.628699,9900,175.781640,3.120238,24153.04621,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,1

# Calculating the gross water demand

The gross water demand accounts for water losses and inefficiencies of distribution method used.

The efficiencies are categorised to:
- Conveyance efficiency which is depended on soil type and size of the farm. In this case it is taken to be 0.95 by assuming used of pipes for water distribution.
- Application efficiency which depends on the method of irrigation used. In this case this was taken to be 0.9 by assuming the use of drip irrigation.

In addition, it was assumed that water pumping will take place for 8 hours a day therefore the 24 hour demand should be catered for within these hours of pumping.

In [90]:
#Peak Water Demand (PWD) in l/s 

# PWD = PCWR / Irrigation efficiency(IrrEff) 
# IrrEff = Field Application Efficiency (aeff) * Distribution Efficiency (deff)*100 
# deff = (Conveyance efficiency + field canal efficiency)
# deff: 0.95 (all scenarios)
# aeff: 0.6 (Surface Irr), 0.75 (Sprinkler Irr), 0.9 (Drip Irr)

#efficiency of drip irrigation will be used 

pumping_hours_per_day=8    # Assumption  
deff= 0.95                 # Assumption
aeff= 0.9                 # Assumption

#peak water demand per day in l/s/ha
for i in range (1,13):
    df["PWD_{}".format(i)]= df["PCWR_{}".format(i)]*24/(pumping_hours_per_day*aeff*deff)

df.head(5)

,ADM0_EN,COUNTY,Area,Main ID,lon,lat,area,elevation,wind_10m,srad_1,...,PWD_3,PWD_4,PWD_5,PWD_6,PWD_7,PWD_8,PWD_9,PWD_10,PWD_11,PWD_12
0,Kenya,Wajir,99,1,40.942462,2.016948,9900,246.495982,3.105536,24412.03003,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Kenya,Wajir,99,2,40.942562,2.114010,9900,266.571416,3.130761,24479.77660,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Kenya,Mandera,99,3,40.942632,2.211072,9900,286.917205,3.160159,24562.24128,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Kenya,Mandera,99,4,40.942720,2.308133,9900,320.437701,3.179663,24648.61526,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Kenya,Wajir,99,5,40.942665,1.628699,9900,175.781640,3.120238,24153.04621,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# Calculating the required pump diameter

The required pump diameter depends on the maximum volumetric flow rate and the maximum allowable water velocity. In this case the maximum allowable water velocity was taken to be 1.5m/s

In [91]:
#pump diameter depending on peak water demand
#diameter in metres

max_vel = 1.5 #maximum allowable water velocity
df['PWD_max']=df.filter(like='PWD_').max(axis=1)

df['diam'] = np.sqrt((4*df['PWD_max']/1000)/(3.142*max_vel))



df.head(5)

,ADM0_EN,COUNTY,Area,Main ID,lon,lat,area,elevation,wind_10m,srad_1,...,PWD_5,PWD_6,PWD_7,PWD_8,PWD_9,PWD_10,PWD_11,PWD_12,PWD_max,diam
0,Kenya,Wajir,99,1,40.942462,2.016948,9900,246.495982,3.105536,24412.03003,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.103151,0.009357
1,Kenya,Wajir,99,2,40.942562,2.114010,9900,266.571416,3.130761,24479.77660,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.132144,0.010590
2,Kenya,Mandera,99,3,40.942632,2.211072,9900,286.917205,3.160159,24562.24128,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.455091,0.019653
3,Kenya,Mandera,99,4,40.942720,2.308133,9900,320.437701,3.179663,24648.61526,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.574054,0.022073
4,Kenya,Wajir,99,5,40.942665,1.628699,9900,175.781640,3.120238,24153.04621,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000

# Calculating the total dynamic head

The total dynamic head incorporates the depth of water, fricition head and required pressure head.

Friction head is calculated according to Darcy formula which considers friction factor of the pipe material, length of the pipe, diameter of the pipe and acceleration due to gravity. The friction factor is taken to be 0.013 by assuming use of PVC pipes.

Pressure head is taken to be 2m.

In [92]:
#Total dynamic head (TDH) for ground and surface water sources

kf = 0.013 #friction factor

# #friction head of groundwater
frict_head_gw = (4*kf*8*df["gw_depth"]*(df["PWD_max"]/1000)**2)/(((df["diam"])**5)*(3.142**2)*9.81)
pres_head_gw = 2 #pressure head



pres_head_sw = 2
frict_head_sw = (4*kf*8*df['sw_dist']*(df['PWD_max']/1000)**2)/(((df['diam'])**5)*(3.142**2)*9.81)

#groundwater dynamic head
df['tdh_gw']=df['gw_depth'] + pres_head_gw + frict_head_gw



#checking if water us flowing downhill or uphill
df['tsh'] = df['sw_depth'] - df['elevation']

#surface water dynamic head
df.loc[df['tsh'] <= 0, 'tdh_sw'] = (abs(df['sw_depth'] - df['elevation'])) + pres_head_sw + frict_head_sw
df.loc[df['tsh'] > 0, 'tdh_sw'] = pres_head_sw + frict_head_sw


df.head(5)

,ADM0_EN,COUNTY,Area,Main ID,lon,lat,area,elevation,wind_10m,srad_1,...,PWD_8,PWD_9,PWD_10,PWD_11,PWD_12,PWD_max,diam,tdh_gw,tsh,tdh_sw
0,Kenya,Wajir,99,1,40.942462,2.016948,9900,246.495982,3.105536,24412.03003,...,0.0,0.0,0.0,0.0,0.0,0.103151,0.009357,165.733543,8.200878,133198.731019
1,Kenya,Wajir,99,2,40.942562,2.114010,9900,266.571416,3.130761,24479.77660,...,0.0,0.0,0.0,0.0,0.0,0.132144,0.010590,158.309471,-11.874556,111708.779096
2,Kenya,Mandera,99,3,40.942632,2.211072,9900,286.917205,3.160159,24562.24128,...,0.0,0.0,0.0,0.0,0.0,0.455091,0.019653,132.342866,-32.220345,56999.614121
3,Kenya,Mandera,99,4,40.942720,2.308133,9900,320.437701,3.179663,24648.61526,...,0.0,0.0,0.0,0.0,0.0,0.574054,0.022073,129.016498,-65.740840,47922.874244
4,Kenya,Wajir,99,5,40.942665,1.628699,9900,175.781640,3.120238,24153.04621,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,NaN,78.915220,NaN

# Estimating power demand (kW)

Power demand depends on the demanded volumetric flow rate, total dynamic head and the pumping system efficiency.

The pumping system efficiency was assumed to be 57%

In [93]:
#Setting the default value for these parameters
for i in range (1,13):
    df['PD_E_gw_{}'.format(i)]=0      #PD_E_gw: Peak Demand (kw) using electric powered pump for ground water
    df['PD_E_sw_{}'.format(i)]=0      #PD_E_sw: Peak Demand (kw) using electric powered pump for surface water 

    
pump_plant_eff=0.57

#calculating the monthly peak (kW) demand
for i in range (1,13):
    PWD = 'PWD_{}'.format(i)
    PD_E_gw = 'PD_E_gw_{}'.format(i)
    PD_E_sw = 'PD_E_sw_{}'.format(i)

    df[PD_E_gw]=(9.81*(df[PWD]/1000)*df['tdh_gw'])/pump_plant_eff #Dividing by 1000 to obtain power in kW
    df[PD_E_sw]=(9.81*(df[PWD]/1000)*df['tdh_sw'])/pump_plant_eff

df.head(5)

,ADM0_EN,COUNTY,Area,Main ID,lon,lat,area,elevation,wind_10m,srad_1,...,PD_E_gw_8,PD_E_sw_8,PD_E_gw_9,PD_E_sw_9,PD_E_gw_10,PD_E_sw_10,PD_E_gw_11,PD_E_sw_11,PD_E_gw_12,PD_E_sw_12
0,Kenya,Wajir,99,1,40.942462,2.016948,9900,246.495982,3.105536,24412.03003,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Kenya,Wajir,99,2,40.942562,2.114010,9900,266.571416,3.130761,24479.77660,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Kenya,Mandera,99,3,40.942632,2.211072,9900,286.917205,3.160159,24562.24128,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Kenya,Mandera,99,4,40.942720,2.308133,9900,320.437701,3.179663,24648.61526,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Kenya,Wajir,99,5,40.942665,1.628699,9900,175.781640,3.120238,24153.04621,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Code below decides whether to use surface water or ground water depending on which one has the least power requirements

In [94]:
df['Max_PD_E_gw']=df.filter(like='PD_E_gw_').max(axis=1) #highest power for gw
df['Max_PD_E_sw']=df.filter(like='PD_E_sw_').max(axis=1)  #highest power for sw
df['PD_E'] = np.minimum.reduce(df[['Max_PD_E_gw', 'Max_PD_E_sw']].values, axis=1) #choosing lowest of the two

#noting whether surface water or groundwater was used
#1 if surface water is chosen and 0 if groundwater is chosen
df.loc[df['Max_PD_E_sw'] < df['Max_PD_E_gw'], 'sw'] = 1
df.loc[df['Max_PD_E_sw'] > df['Max_PD_E_gw'], 'sw'] = 0

df.head(5)

,ADM0_EN,COUNTY,Area,Main ID,lon,lat,area,elevation,wind_10m,srad_1,...,PD_E_gw_10,PD_E_sw_10,PD_E_gw_11,PD_E_sw_11,PD_E_gw_12,PD_E_sw_12,Max_PD_E_gw,Max_PD_E_sw,PD_E,sw
0,Kenya,Wajir,99,1,40.942462,2.016948,9900,246.495982,3.105536,24412.03003,...,0.0,0.0,0.0,0.0,0.0,0.0,0.294225,236.466315,0.294225,0.0
1,Kenya,Wajir,99,2,40.942562,2.114010,9900,266.571416,3.130761,24479.77660,...,0.0,0.0,0.0,0.0,0.0,0.0,0.360039,254.056155,0.360039,0.0
2,Kenya,Mandera,99,3,40.942632,2.211072,9900,286.917205,3.160159,24562.24128,...,0.0,0.0,0.0,0.0,0.0,0.0,1.036556,446.440952,1.036556,0.0
3,Kenya,Mandera,99,4,40.942720,2.308133,9900,320.437701,3.179663,24648.61526,...,0.0,0.0,0.0,0.0,0.0,0.0,1.274654,473.467386,1.274654,0.0
4,Kenya,Wajir,99,5,40.942665,1.628699,9900,175.781640,3.120238,24153.04621,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Estimating the electricity demand for irrigation

In [95]:
#Estimating the yearly electricity demand

#total sum of monthly
#months assumed to have same length so this can be added directly
df['PD_E_gw_sum']=df.filter(like='PD_E_gw_').sum(axis=1) #sum power for gw
df['PD_E_sw_sum']=df.filter(like='PD_E_sw_').sum(axis=1)  #sum power for sw

df['PD_sum'] = np.minimum.reduce(df[['PD_E_gw_sum', 'PD_E_sw_sum']].values, axis=1) #choosing the lowest power sum

#monthy energy demand
for i in range (1,13):
    month_demand = 'month_demand_{}'.format(i)
    power_sw = 'PD_E_sw_{}'.format(i)
    power_gw = 'PD_E_gw_{}'.format(i)
    df.loc[df['Max_PD_E_sw'] < df['Max_PD_E_gw'], month_demand] = df[power_sw]*8*30
    df.loc[df['Max_PD_E_sw'] > df['Max_PD_E_gw'], month_demand] = df[power_gw]*8*30
    

#total annual energy consumed in irrigation
df['Annual_elec_demand'] = df['PD_sum'] * 8 * 30

df.head(5)

,ADM0_EN,COUNTY,Area,Main ID,lon,lat,area,elevation,wind_10m,srad_1,...,month_demand_4,month_demand_5,month_demand_6,month_demand_7,month_demand_8,month_demand_9,month_demand_10,month_demand_11,month_demand_12,Annual_elec_demand
0,Kenya,Wajir,99,1,40.942462,2.016948,9900,246.495982,3.105536,24412.03003,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,70.614006
1,Kenya,Wajir,99,2,40.942562,2.114010,9900,266.571416,3.130761,24479.77660,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,86.409314
2,Kenya,Mandera,99,3,40.942632,2.211072,9900,286.917205,3.160159,24562.24128,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,248.773370
3,Kenya,Mandera,99,4,40.942720,2.308133,9900,320.437701,3.179663,24648.61526,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,305.917064
4,Kenya,Wajir,99,5,40.942665,1.628699,9900,175.781640,3.120238,24153.04621,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000

# Determining the solar potential for the month with max power demand

In [96]:
#determining solar potential of month with max demand

df['etc_max']=df.filter(like='IRn_').idxmax(axis=1)

d = df['etc_max']

x = d.str[4:]

x
n = x.astype(int)
 
start_pv = df.columns.get_loc('pvout_1')
pos = start_pv + (n)
pos

colname = df.columns[pos]


for i in range(len(df)):
    df['PV'] = df.loc[:][colname[i]]

df.head(5)

,ADM0_EN,COUNTY,Area,Main ID,lon,lat,area,elevation,wind_10m,srad_1,...,month_demand_6,month_demand_7,month_demand_8,month_demand_9,month_demand_10,month_demand_11,month_demand_12,Annual_elec_demand,etc_max,PV
0,Kenya,Wajir,99,1,40.942462,2.016948,9900,246.495982,3.105536,24412.03003,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,70.614006,IRn_1,111.015729
1,Kenya,Wajir,99,2,40.942562,2.114010,9900,266.571416,3.130761,24479.77660,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,86.409314,IRn_1,111.183339
2,Kenya,Mandera,99,3,40.942632,2.211072,9900,286.917205,3.160159,24562.24128,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,248.773370,IRn_1,111.213198
3,Kenya,Mandera,99,4,40.942720,2.308133,9900,320.437701,3.179663,24648.61526,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,305.917064,IRn_1,110.829992
4,Kenya,Wajir,99,5,40.942665,1.628699,9900,175.781640,3.120238,24153.04621,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,IRn_1,113.597169

# Sizing the required PV

In [97]:
#PV size = 1.2 x Max Energy Demand (kWh)/pv potential (kWh/kWp)
#Result scaled by 20\% for safety as the monthly PVOUT value is an average

df['pv_kw'] = (1.2*df['PD_E']*8*30)/df['PV']


df.head(5)

,ADM0_EN,COUNTY,Area,Main ID,lon,lat,area,elevation,wind_10m,srad_1,...,month_demand_7,month_demand_8,month_demand_9,month_demand_10,month_demand_11,month_demand_12,Annual_elec_demand,etc_max,PV,pv_kw
0,Kenya,Wajir,99,1,40.942462,2.016948,9900,246.495982,3.105536,24412.03003,...,0.0,0.0,0.0,0.0,0.0,0.0,70.614006,IRn_1,111.015729,0.763287
1,Kenya,Wajir,99,2,40.942562,2.114010,9900,266.571416,3.130761,24479.77660,...,0.0,0.0,0.0,0.0,0.0,0.0,86.409314,IRn_1,111.183339,0.932614
2,Kenya,Mandera,99,3,40.942632,2.211072,9900,286.917205,3.160159,24562.24128,...,0.0,0.0,0.0,0.0,0.0,0.0,248.773370,IRn_1,111.213198,2.684286
3,Kenya,Mandera,99,4,40.942720,2.308133,9900,320.437701,3.179663,24648.61526,...,0.0,0.0,0.0,0.0,0.0,0.0,305.917064,IRn_1,110.829992,3.312285
4,Kenya,Wajir,99,5,40.942665,1.628699,9900,175.781640,3.120238,24153.04621,...,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,IRn_1,113.597169,NaN

# Annual energy supplied and system utilisation factor

In [98]:
#Total energy produced by system per month
#Energy (kWh) = PV Peak Power (kWp) * solar potential (kWh/kWp) 
for i in range (1,13):
    df['E_supply_{}'.format(i)] = df['pv_kw']*df['pvout_{}'.format(i)] #monthly energy supplied
    
#Total energy produced by the system annually
#Total energy supplied is given by the sum of the monthly supplies
df['Annual_Energy']=df.filter(like='E_supply_').sum(axis=1)


#utilisation factor
df['utilisation_1'] = 100 * df['Annual_elec_demand']/df['Annual_Energy']


df.head(5)

,ADM0_EN,COUNTY,Area,Main ID,lon,lat,area,elevation,wind_10m,srad_1,...,E_supply_5,E_supply_6,E_supply_7,E_supply_8,E_supply_9,E_supply_10,E_supply_11,E_supply_12,Annual_Energy,utilisation_1
0,Kenya,Wajir,99,1,40.942462,2.016948,9900,246.495982,3.105536,24412.03003,...,91.188481,74.611579,72.360440,84.736808,96.558719,90.215135,89.886300,111.249946,1159.654220,6.089229
1,Kenya,Wajir,99,2,40.942562,2.114010,9900,266.571416,3.130761,24479.77660,...,111.535870,91.071213,88.416345,103.691177,118.272412,109.723049,110.070938,135.958843,1417.603460,6.095450
2,Kenya,Mandera,99,3,40.942632,2.211072,9900,286.917205,3.160159,24562.24128,...,319.829790,261.214412,253.356200,298.528043,341.098766,316.020738,320.341979,393.902737,4089.325483,6.083482
3,Kenya,Mandera,99,4,40.942720,2.308133,9900,320.437701,3.179663,24648.61526,...,393.776606,320.999957,310.647777,367.100477,421.218182,388.717401,397.504470,490.851752,5056.417262,6.050076
4,Kenya,Wajir,99,5,40.942665,1.628699,9900,175.781640,3.120238,24153.04621,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN

# Potential for using excess energy to connect neighbouring households to Tier 3 electricity

In [99]:
#Excess energy per month i.e. the energy not used for irrigation

for i in range (1,13):
    E_Excess = 'E_Excess_{}'.format(i)
    E_Supply = 'E_supply_{}'.format(i)
    demand = 'month_demand_{}'.format(i)
    df[E_Excess] = df[E_Supply] - df[demand]

    
df.head(5)

,ADM0_EN,COUNTY,Area,Main ID,lon,lat,area,elevation,wind_10m,srad_1,...,E_Excess_3,E_Excess_4,E_Excess_5,E_Excess_6,E_Excess_7,E_Excess_8,E_Excess_9,E_Excess_10,E_Excess_11,E_Excess_12
0,Kenya,Wajir,99,1,40.942462,2.016948,9900,246.495982,3.105536,24412.03003,...,113.690126,94.781555,91.188481,74.611579,72.360440,84.736808,96.558719,90.215135,89.886300,111.249946
1,Kenya,Wajir,99,2,40.942562,2.114010,9900,266.571416,3.130761,24479.77660,...,139.022187,115.232958,111.535870,91.071213,88.416345,103.691177,118.272412,109.723049,110.070938,135.958843
2,Kenya,Mandera,99,3,40.942632,2.211072,9900,286.917205,3.160159,24562.24128,...,402.451174,330.434895,319.829790,261.214412,253.356200,298.528043,341.098766,316.020738,320.341979,393.902737
3,Kenya,Mandera,99,4,40.942720,2.308133,9900,320.437701,3.179663,24648.61526,...,500.875315,407.722588,393.776606,320.999957,310.647777,367.100477,421.218182,388.717401,397.504470,490.851752
4,Kenya,Wajir,99,5,40.942665,1.628699,9900,175.781640,3.120238,24153.04621,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [100]:
#electrification demand

#https://openknowledge.worldbank.org/entities/publication/a896ab51-e042-5b7d-8ffd-59d36461059e
#https://openknowledge.worldbank.org/server/api/core/bitstreams/248a7205-e926-5946-9025-605b8035ad95/content
tier1 = 4.5 #annual household consumption for tier 1 in kWh
tier2 = 73
tier3 = 365
tier4 = 1250
tier5 = 3000
#tier 3 demand per month = 365kWh/12
#assuming 4 people per household
#demand = area being connected * density of people without electricity * demand per/household/month

#connecting 1km^2 around the SPIS
df['tier3'] = df['no_access']*1*tier3/(4*12)

    
df.head(5)

,ADM0_EN,COUNTY,Area,Main ID,lon,lat,area,elevation,wind_10m,srad_1,...,E_Excess_4,E_Excess_5,E_Excess_6,E_Excess_7,E_Excess_8,E_Excess_9,E_Excess_10,E_Excess_11,E_Excess_12,tier3
0,Kenya,Wajir,99,1,40.942462,2.016948,9900,246.495982,3.105536,24412.03003,...,94.781555,91.188481,74.611579,72.360440,84.736808,96.558719,90.215135,89.886300,111.249946,98.252847
1,Kenya,Wajir,99,2,40.942562,2.114010,9900,266.571416,3.130761,24479.77660,...,115.232958,111.535870,91.071213,88.416345,103.691177,118.272412,109.723049,110.070938,135.958843,76.333128
2,Kenya,Mandera,99,3,40.942632,2.211072,9900,286.917205,3.160159,24562.24128,...,330.434895,319.829790,261.214412,253.356200,298.528043,341.098766,316.020738,320.341979,393.902737,187.027057
3,Kenya,Mandera,99,4,40.942720,2.308133,9900,320.437701,3.179663,24648.61526,...,407.722588,393.776606,320.999957,310.647777,367.100477,421.218182,388.717401,397.504470,490.851752,179.485392
4,Kenya,Wajir,99,5,40.942665,1.628699,9900,175.781640,3.120238,24153.04621,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.833440

In [101]:
#determining how much of the SPIS excess energy can be consumed by the households/per month
for i in range (1,13):
    E_Excess = 'E_Excess_{}'.format(i)
    amount_supplied = 'amount_supplied_{}'.format(i)
    Tier3 = 'tier3'
    df.loc[df[E_Excess] > df[Tier3], amount_supplied] = df[Tier3] #if supply greater than demand
    df.loc[df[E_Excess] < df[Tier3], amount_supplied] = df[E_Excess] #if demand greater than supply
    
df.head(5)

,ADM0_EN,COUNTY,Area,Main ID,lon,lat,area,elevation,wind_10m,srad_1,...,amount_supplied_3,amount_supplied_4,amount_supplied_5,amount_supplied_6,amount_supplied_7,amount_supplied_8,amount_supplied_9,amount_supplied_10,amount_supplied_11,amount_supplied_12
0,Kenya,Wajir,99,1,40.942462,2.016948,9900,246.495982,3.105536,24412.03003,...,98.252847,94.781555,91.188481,74.611579,72.360440,84.736808,96.558719,90.215135,89.886300,98.252847
1,Kenya,Wajir,99,2,40.942562,2.114010,9900,266.571416,3.130761,24479.77660,...,76.333128,76.333128,76.333128,76.333128,76.333128,76.333128,76.333128,76.333128,76.333128,76.333128
2,Kenya,Mandera,99,3,40.942632,2.211072,9900,286.917205,3.160159,24562.24128,...,187.027057,187.027057,187.027057,187.027057,187.027057,187.027057,187.027057,187.027057,187.027057,187.027057
3,Kenya,Mandera,99,4,40.942720,2.308133,9900,320.437701,3.179663,24648.61526,...,179.485392,179.485392,179.485392,179.485392,179.485392,179.485392,179.485392,179.485392,179.485392,179.485392
4,Kenya,Wajir,99,5,40.942665,1.628699,9900,175.781640,3.120238,24153.04621,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Impact of using SPIS for electrification

In [102]:
#total energy supplied to electrified homes annually
df['total_supplied']=df.filter(like='amount_supplied_').sum(axis=1)

#number of households getting tier 3
df['tier3_hh'] = round(df['total_supplied']/tier3)

#new utilisation factor
#adding up energy supplied for electrification and energy used for irrigation
df['utilisation_2'] = 100*(df['Annual_elec_demand'] + df['total_supplied'])/df['Annual_Energy']

df.head(5)

,ADM0_EN,COUNTY,Area,Main ID,lon,lat,area,elevation,wind_10m,srad_1,...,amount_supplied_6,amount_supplied_7,amount_supplied_8,amount_supplied_9,amount_supplied_10,amount_supplied_11,amount_supplied_12,total_supplied,tier3_hh,utilisation_2
0,Kenya,Wajir,99,1,40.942462,2.016948,9900,246.495982,3.105536,24412.03003,...,74.611579,72.360440,84.736808,96.558719,90.215135,89.886300,98.252847,1043.345897,3.0,96.059660
1,Kenya,Wajir,99,2,40.942562,2.114010,9900,266.571416,3.130761,24479.77660,...,76.333128,76.333128,76.333128,76.333128,76.333128,76.333128,76.333128,906.373624,2.0,70.032486
2,Kenya,Mandera,99,3,40.942632,2.211072,9900,286.917205,3.160159,24562.24128,...,187.027057,187.027057,187.027057,187.027057,187.027057,187.027057,187.027057,2244.324686,6.0,60.965997
3,Kenya,Mandera,99,4,40.942720,2.308133,9900,320.437701,3.179663,24648.61526,...,179.485392,179.485392,179.485392,179.485392,179.485392,179.485392,179.485392,2153.824708,6.0,48.645941
4,Kenya,Wajir,99,5,40.942665,1.628699,9900,175.781640,3.120238,24153.04621,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.0,NaN

# Estimating SPIS cost

In [103]:
#system cost
#cost of submersible pump + solar panels = KES 133,134/kW #https://www.waterpumps.co.ke/solar-water-pumps-prices-in-kenya.html
#cost of surface pump + solar panels = KES 155,433/kW #https://www.waterpumps.co.ke/solar-water-pumps-prices-in-kenya.html
#cost drilling a borehole = $833 + $54*depth #https://www.waterlink.co.ke/2021/05/07/borehole-drilling-cost-in-kenya-2022/#:~:text
#cost of water transmission pipeline = $1.14*distance #https://grekkon.com/hdpe-pipes-in-kenya/

#cost excluding the boreholes or the water transmission pipe
df.loc[df['sw'] == 1, 'cost'] = 155433*df['PD_E'] #if using surface water
df.loc[df['sw'] == 0, 'cost'] = 133134*df['PD_E'] #if using ground water

df.head(5)

,ADM0_EN,COUNTY,Area,Main ID,lon,lat,area,elevation,wind_10m,srad_1,...,amount_supplied_7,amount_supplied_8,amount_supplied_9,amount_supplied_10,amount_supplied_11,amount_supplied_12,total_supplied,tier3_hh,utilisation_2,cost
0,Kenya,Wajir,99,1,40.942462,2.016948,9900,246.495982,3.105536,24412.03003,...,72.360440,84.736808,96.558719,90.215135,89.886300,98.252847,1043.345897,3.0,96.059660,39171.354706
1,Kenya,Wajir,99,2,40.942562,2.114010,9900,266.571416,3.130761,24479.77660,...,76.333128,76.333128,76.333128,76.333128,76.333128,76.333128,906.373624,2.0,70.032486,47933.406571
2,Kenya,Mandera,99,3,40.942632,2.211072,9900,286.917205,3.160159,24562.24128,...,187.027057,187.027057,187.027057,187.027057,187.027057,187.027057,2244.324686,6.0,60.965997,138000.807424
3,Kenya,Mandera,99,4,40.942720,2.308133,9900,320.437701,3.179663,24648.61526,...,179.485392,179.485392,179.485392,179.485392,179.485392,179.485392,2153.824708,6.0,48.645941,169699.843230
4,Kenya,Wajir,99,5,40.942665,1.628699,9900,175.781640,3.120238,24153.04621,...,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.0,NaN,NaN

# Generating output file

In [104]:
#removing protected areas
x = df.loc[(df['protected'] == 1)]

In [105]:
#filtering columns of interest
#county, main id, area,longitude, latitude, peak water demand, peak power demand, energy demand, cost, utilisation factor.

# out = out.filter(items=['COUNTY','area','Main ID','lon','lat', 'pwcr_per_day', 'PD_E', 'Annual_elec_demand','cost','utilisation_1', 'Annual_Energy'])
# out.head(5)

out = x.filter(items=['COUNTY','Main ID','area', 'lon','lat','pwcr_per_day', 'PD_E','Annual_elec_demand', 'utilisation_1','cost','Annual_Energy'])
out.head(5)

,COUNTY,Main ID,area,lon,lat,pwcr_per_day,PD_E,Annual_elec_demand,utilisation_1,cost,Annual_Energy
0,Wajir,1,9900,40.942462,2.016948,2539.999597,0.294225,70.614006,6.089229,39171.354706,1159.654220
1,Wajir,2,9900,40.942562,2.114010,3253.919961,0.360039,86.409314,6.095450,47933.406571,1417.603460
2,Mandera,3,9900,40.942632,2.211072,11206.153349,1.036556,248.773370,6.083482,138000.807424,4089.325483
3,Mandera,4,9900,40.942720,2.308133,14135.515854,1.274654,305.917064,6.050076,169699.843230,5056.417262
4,Wajir,5,9900,40.942665,1.628699,0.000000,NaN,0.000000,NaN,NaN,0.000000

# Saving the output file

In [106]:
#saving
if s == 1:
    out.to_csv('worst_case_output.csv', index = False)
elif s == 0:
    out.to_csv('average_case_output.csv', index = False)
else:
    print('Please enter a valid scenario!')

# Calculating LCOE

In [107]:
df_worst = pd.read_csv('worst_case_output.csv')
df_worst.head(5)

,COUNTY,Main ID,area,lon,lat,pwcr_per_day,PD_E,Annual_elec_demand,utilisation_1,cost,Annual_Energy
0,Wajir,1,9900,40.942462,2.016948,42256.227871,3.473989,1630.550146,11.908492,462506.117848,13692.331437
1,Wajir,2,9900,40.942562,2.114010,44455.112280,3.642606,1836.522279,12.804971,484954.656790,14342.260410
2,Mandera,3,9900,40.942632,2.211072,48534.438837,3.954667,2214.493818,14.194024,526500.620966,15601.592820
3,Mandera,4,9900,40.942720,2.308133,50682.558592,4.118636,2386.373117,14.606109,548330.425741,16338.184980
4,Wajir,5,9900,40.942665,1.628699,34665.039135,2.889301,1278.966248,11.370185,384664.259445,11248.420814

In [108]:
df_average = pd.read_csv('average_case_output.csv')
df_average.head(5)

,COUNTY,Main ID,area,lon,lat,pwcr_per_day,PD_E,Annual_elec_demand,utilisation_1,cost,Annual_Energy
0,Wajir,1,9900,40.942462,2.016948,2539.999597,0.294225,70.614006,6.089229,39171.354706,1159.654220
1,Wajir,2,9900,40.942562,2.114010,3253.919961,0.360039,86.409314,6.095450,47933.406571,1417.603460
2,Mandera,3,9900,40.942632,2.211072,11206.153349,1.036556,248.773370,6.083482,138000.807424,4089.325483
3,Mandera,4,9900,40.942720,2.308133,14135.515854,1.274654,305.917064,6.050076,169699.843230,5056.417262
4,Wajir,5,9900,40.942665,1.628699,0.000000,NaN,0.000000,NaN,NaN,0.000000

In [109]:
#concatenative the dataframe for average case and that of worst case scenario based on ID

df = pd.merge(df_worst, df_average, on='Main ID', how='inner')

df.head(5)

,COUNTY_x,Main ID,area_x,lon_x,lat_x,pwcr_per_day_x,PD_E_x,Annual_elec_demand_x,utilisation_1_x,cost_x,...,COUNTY_y,area_y,lon_y,lat_y,pwcr_per_day_y,PD_E_y,Annual_elec_demand_y,utilisation_1_y,cost_y,Annual_Energy_y
0,Wajir,1,9900,40.942462,2.016948,42256.227871,3.473989,1630.550146,11.908492,462506.117848,...,Wajir,9900,40.942462,2.016948,2539.999597,0.294225,70.614006,6.089229,39171.354706,1159.654220
1,Wajir,2,9900,40.942562,2.114010,44455.112280,3.642606,1836.522279,12.804971,484954.656790,...,Wajir,9900,40.942562,2.114010,3253.919961,0.360039,86.409314,6.095450,47933.406571,1417.603460
2,Mandera,3,9900,40.942632,2.211072,48534.438837,3.954667,2214.493818,14.194024,526500.620966,...,Mandera,9900,40.942632,2.211072,11206.153349,1.036556,248.773370,6.083482,138000.807424,4089.325483
3,Mandera,4,9900,40.942720,2.308133,50682.558592,4.118636,2386.373117,14.606109,548330.425741,...,Mandera,9900,40.942720,2.308133,14135.515854,1.274654,305.917064,6.050076,169699.843230,5056.417262
4,Wajir,5,9900,40.942665,1.628699,34665.039135,2.889301,1278.966248,11.370185,384664.259445,...,Wajir,9900,40.942665,1.628699,0.000000,NaN,0.000000,NaN,NaN,0.000000

In [110]:
#removing repeated columns
columns_to_remove = ['COUNTY_y', 'lon_y','lat_y','area_y','pwcr_per_day_y','cost_y','utilisation_1_y','pwcr_per_day_x','Annual_Energy_y']
df = df.drop(columns=columns_to_remove)

df.head(5)

,COUNTY_x,Main ID,area_x,lon_x,lat_x,PD_E_x,Annual_elec_demand_x,utilisation_1_x,cost_x,Annual_Energy_x,PD_E_y,Annual_elec_demand_y
0,Wajir,1,9900,40.942462,2.016948,3.473989,1630.550146,11.908492,462506.117848,13692.331437,0.294225,70.614006
1,Wajir,2,9900,40.942562,2.114010,3.642606,1836.522279,12.804971,484954.656790,14342.260410,0.360039,86.409314
2,Mandera,3,9900,40.942632,2.211072,3.954667,2214.493818,14.194024,526500.620966,15601.592820,1.036556,248.773370
3,Mandera,4,9900,40.942720,2.308133,4.118636,2386.373117,14.606109,548330.425741,16338.184980,1.274654,305.917064
4,Wajir,5,9900,40.942665,1.628699,2.889301,1278.966248,11.370185,384664.259445,11248.420814,NaN,0.000000

In [111]:
#renaming columns for consistency
column_name_mapping = {'COUNTY_x': 'COUNTY', 'lon_x': 'lon','lat_x': 'lat','PD_E_x': 'PD_wst', 
                       'Annual_elec_demand_x': 'demand_wst','PD_E_y': 'PD_avg', 'Annual_Energy_x': 'Annual_Energy',
                       'Annual_elec_demand_y': 'demand_avg','cost_x': 'cost','utilisation_1_x': 'utilisation'}
df = df.rename(columns=column_name_mapping)


df.head(5)

,COUNTY,Main ID,area_x,lon,lat,PD_wst,demand_wst,utilisation,cost,Annual_Energy,PD_avg,demand_avg
0,Wajir,1,9900,40.942462,2.016948,3.473989,1630.550146,11.908492,462506.117848,13692.331437,0.294225,70.614006
1,Wajir,2,9900,40.942562,2.114010,3.642606,1836.522279,12.804971,484954.656790,14342.260410,0.360039,86.409314
2,Mandera,3,9900,40.942632,2.211072,3.954667,2214.493818,14.194024,526500.620966,15601.592820,1.036556,248.773370
3,Mandera,4,9900,40.942720,2.308133,4.118636,2386.373117,14.606109,548330.425741,16338.184980,1.274654,305.917064
4,Wajir,5,9900,40.942665,1.628699,2.889301,1278.966248,11.370185,384664.259445,11248.420814,NaN,0.000000

Set the drought frequency here

In [112]:
drought_f = 2 #drought frequency in years

Set parameters for LCOE calculation here

In [113]:
# Parameters
lifetime = 20
discount_rate = 0.13
farm_size = 0.47

Calculating the NPV of energy consumption

In [114]:
# Initialize a list to store NPV values
npv_values = []

# Iterate over each row in the DataFrame and calculate NPV
for _, row in df.iterrows():
    npv = 0
    for year in range(lifetime):
        if year % drought_f == 0:
            annual_energy = row['demand_wst'] #demand for the worst case scenario
        else:
            annual_energy = row['demand_avg'] #demand for the average case scenario
        present_value = (farm_size * annual_energy) / (1 + discount_rate) ** (year + 1)
        npv += present_value
    npv_values.append(npv)

# Add a new column 'NPV' to the out DataFrame
df['NPV_energy'] = npv_values

df.head(5)

,COUNTY,Main ID,area_x,lon,lat,PD_wst,demand_wst,utilisation,cost,Annual_Energy,PD_avg,demand_avg,NPV_energy
0,Wajir,1,9900,40.942462,2.016948,3.473989,1630.550146,11.908492,462506.117848,13692.331437,0.294225,70.614006,2184.582129
1,Wajir,2,9900,40.942562,2.114010,3.642606,1836.522279,12.804971,484954.656790,14342.260410,0.360039,86.409314,2474.638831
2,Mandera,3,9900,40.942632,2.211072,3.954667,2214.493818,14.194024,526500.620966,15601.592820,1.036556,248.773370,3280.424893
3,Mandera,4,9900,40.942720,2.308133,4.118636,2386.373117,14.606109,548330.425741,16338.184980,1.274654,305.917064,3612.623747
4,Wajir,5,9900,40.942665,1.628699,2.889301,1278.966248,11.370185,384664.259445,11248.420814,NaN,0.000000,1599.954365

Calculating the NPV costs for SPIS

In [115]:
#replacement cost for solar pump
elec_cost = 25000 #per kW

df['spis_rep'] = df['PD_wst']*farm_size*elec_cost #multiplying the cost per kW with kW demand

#LCOE for the solar pumps
df['s_cost'] = df['cost']*farm_size #multiplication by 120 is to reconvert dollars to KES


# Initialize a list to store NPV values
npv_values = []

# Iterate over each row in the DataFrame and calculate NPV
for _, row in df.iterrows():
    capex = row['s_cost']
    npv = 0
    for year in range(lifetime):
        present_value = (0.01*capex) / (1 + discount_rate) ** (year + 1)
        npv += present_value
    npv_values.append(npv)


#the NPV cost is composed of NPV due to OPEX and capital cost in year 0 and year 10 when the pump is replaced.
df['NPV_s_cost'] = npv_values+(1.1*df['s_cost'])+(df['spis_rep']/((1 + discount_rate) ** 10)) #10% transport and installation cost added.

df.head(5)

,COUNTY,Main ID,area_x,lon,lat,PD_wst,demand_wst,utilisation,cost,Annual_Energy,PD_avg,demand_avg,NPV_energy,spis_rep,s_cost,NPV_s_cost
0,Wajir,1,9900,40.942462,2.016948,3.473989,1630.550146,11.908492,462506.117848,13692.331437,0.294225,70.614006,2184.582129,40819.376603,217377.875388,266410.831384
1,Wajir,2,9900,40.942562,2.114010,3.642606,1836.522279,12.804971,484954.656790,14342.260410,0.360039,86.409314,2474.638831,42800.616051,227928.688692,279341.544498
2,Mandera,3,9900,40.942632,2.211072,3.954667,2214.493818,14.194024,526500.620966,15601.592820,1.036556,248.773370,3280.424893,46467.335890,247455.291854,303272.676281
3,Mandera,4,9900,40.942720,2.308133,4.118636,2386.373117,14.606109,548330.425741,16338.184980,1.274654,305.917064,3612.623747,48393.967750,257715.300098,315846.988738
4,Wajir,5,9900,40.942665,1.628699,2.889301,1278.966248,11.370185,384664.259445,11248.420814,NaN,0.000000,1599.954365,33949.292055,180792.201939,221572.691059

NPV Cost of Diesel Powered Irrigation System (DPIS)

In [116]:
d_pump_cost = 18000 #cost of diesel pump in KES/kW

df['d_capex'] = df['PD_wst']*farm_size*d_pump_cost #cost of DPIS per farm

d_kwh = 0.3 #litres of diesel to produce 1 kWh of electrical power
d_litre = 201.47 #cost of 1 litre of diesel

d_kWh_cost = d_kwh*d_litre #cost of producing 1kWh of electricity with diesel

esc_rate = 0.02 #diesel cost annual escalation rate
maintenance = 0.05 #cost of DPIS maintenance as a percentage of CAPEX

#calculating the NPV costs of DPIS
npv_values = []

# Iterate over each row in the DataFrame and calculate NPV
for _, row in df.iterrows():
    
    capex = row['d_capex']
    npv = 0
    for year in range(lifetime):
        if year % drought_f == 0:
            opex = row['demand_wst']*d_kWh_cost*farm_size
        else:
            opex = row['demand_avg']*d_kWh_cost*farm_size
        present_value = ((maintenance * capex) + (opex * (1 + esc_rate) ** year)) / (1 + discount_rate) ** (year + 1)
        npv += present_value
        #npv due to OPEX, plus capex for year 0, plus capex for year 10
    npv_values.append(npv + (1.1 * capex)+capex/((1 + discount_rate) ** 10))  # Adding 10% transport and installation cost to NPV

# Add a new column 'NPV' to the DataFrame
df['NPV_d_cost'] = npv_values

df.head(5)

,COUNTY,Main ID,area_x,lon,lat,PD_wst,demand_wst,utilisation,cost,Annual_Energy,PD_avg,demand_avg,NPV_energy,spis_rep,s_cost,NPV_s_cost,d_capex,NPV_d_cost
0,Wajir,1,9900,40.942462,2.016948,3.473989,1630.550146,11.908492,462506.117848,13692.331437,0.294225,70.614006,2184.582129,40819.376603,217377.875388,266410.831384,29389.951154,198184.272962
1,Wajir,2,9900,40.942562,2.114010,3.642606,1836.522279,12.804971,484954.656790,14342.260410,0.360039,86.409314,2474.638831,42800.616051,227928.688692,279341.544498,30816.443556,220197.205944
2,Mandera,3,9900,40.942632,2.211072,3.954667,2214.493818,14.194024,526500.620966,15601.592820,1.036556,248.773370,3280.424893,46467.335890,247455.291854,303272.676281,33456.481841,279434.258130
3,Mandera,4,9900,40.942720,2.308133,4.118636,2386.373117,14.606109,548330.425741,16338.184980,1.274654,305.917064,3612.623747,48393.967750,257715.300098,315846.988738,34843.656780,304344.782818
4,Wajir,5,9900,40.942665,1.628699,2.889301,1278.966248,11.370185,384664.259445,11248.420814,NaN,0.000000,1599.954365,33949.292055,180792.201939,221572.691059,24443.490280,150070.818455

calculating LCOEs

In [117]:
#kenya shillings to dollar
ex_rate = 144 #https://www.centralbank.go.ke/forex/ [22nd Feb]

df['s_LCOE'] = df['NPV_s_cost']/(df['NPV_energy']*ex_rate) #LCOE of SPIS

df['d_LCOE'] = df['NPV_d_cost']/(df['NPV_energy']*ex_rate) #LCOE of DPIS

df.head(5)

,COUNTY,Main ID,area_x,lon,lat,PD_wst,demand_wst,utilisation,cost,Annual_Energy,PD_avg,demand_avg,NPV_energy,spis_rep,s_cost,NPV_s_cost,d_capex,NPV_d_cost,s_LCOE,d_LCOE
0,Wajir,1,9900,40.942462,2.016948,3.473989,1630.550146,11.908492,462506.117848,13692.331437,0.294225,70.614006,2184.582129,40819.376603,217377.875388,266410.831384,29389.951154,198184.272962,0.846878,0.629997
1,Wajir,2,9900,40.942562,2.114010,3.642606,1836.522279,12.804971,484954.656790,14342.260410,0.360039,86.409314,2474.638831,42800.616051,227928.688692,279341.544498,30816.443556,220197.205944,0.783901,0.617927
2,Mandera,3,9900,40.942632,2.211072,3.954667,2214.493818,14.194024,526500.620966,15601.592820,1.036556,248.773370,3280.424893,46467.335890,247455.291854,303272.676281,33456.481841,279434.258130,0.642008,0.591544
3,Mandera,4,9900,40.942720,2.308133,4.118636,2386.373117,14.606109,548330.425741,16338.184980,1.274654,305.917064,3612.623747,48393.967750,257715.300098,315846.988738,34843.656780,304344.782818,0.607144,0.585033
4,Wajir,5,9900,40.942665,1.628699,2.889301,1278.966248,11.370185,384664.259445,11248.420814,NaN,0.000000,1599.954365,33949.292055,180792.201939,221572.691059,24443.490280,150070.818455,0.961714,0.651368

Determining the utilisation factor of the SPIS under the drought scenario considered

In [118]:
drought = 0
not_drought = 0

for year in range(1, lifetime + 1):
    if year % drought_f == 0:
        drought += 1
    else:
        not_drought += 1
        
df['util'] = 100*(drought*df['demand_wst'] + not_drought*df['demand_avg'])/(lifetime*df['Annual_Energy'])
df.head(5)

,COUNTY,Main ID,area_x,lon,lat,PD_wst,demand_wst,utilisation,cost,Annual_Energy,...,demand_avg,NPV_energy,spis_rep,s_cost,NPV_s_cost,d_capex,NPV_d_cost,s_LCOE,d_LCOE,util
0,Wajir,1,9900,40.942462,2.016948,3.473989,1630.550146,11.908492,462506.117848,13692.331437,...,70.614006,2184.582129,40819.376603,217377.875388,266410.831384,29389.951154,198184.272962,0.846878,0.629997,3.933551
1,Wajir,2,9900,40.942562,2.114010,3.642606,1836.522279,12.804971,484954.656790,14342.260410,...,86.409314,2474.638831,42800.616051,227928.688692,279341.544498,30816.443556,220197.205944,0.783901,0.617927,4.263228
2,Mandera,3,9900,40.942632,2.211072,3.954667,2214.493818,14.194024,526500.620966,15601.592820,...,248.773370,3280.424893,46467.335890,247455.291854,303272.676281,33456.481841,279434.258130,0.642008,0.591544,5.374384
3,Mandera,4,9900,40.942720,2.308133,4.118636,2386.373117,14.606109,548330.425741,16338.184980,...,305.917064,3612.623747,48393.967750,257715.300098,315846.988738,34843.656780,304344.782818,0.607144,0.585033,5.692517
4,Wajir,5,9900,40.942665,1.628699,2.889301,1278.966248,11.370185,384664.259445,11248.420814,...,0.000000,1599.954365,33949.292055,180792.201939,221572.691059,24443.490280,150070.818455,0.961714,0.651368,3.411055

outputting LCOE of SPIS and DPIS

In [119]:
lcoe = df.filter(items=['COUNTY','Main ID','s_LCOE','d_LCOE','util'])
lcoe.head(5)

    COUNTY  Main ID    s_LCOE    d_LCOE      util
0    Wajir        1  0.846878  0.629997  3.933551
1    Wajir        2  0.783901  0.617927  4.263228
2  Mandera        3  0.642008  0.591544  5.374384
3  Mandera        4  0.607144  0.585033  5.692517
4    Wajir        5  0.961714  0.651368  3.411055

In [120]:
#saving
if drought_f == 2:
    lcoe.to_csv('lcoe_2y.csv', index = False)
elif drought_f == 3:
    lcoe.to_csv('lcoe_3y.csv', index = False)
else:
    print('Please enter a valid drought frequency value!')